## Below is the CDS CODEOWNERS file, which dictates who is required for review on any given file.

## All CDS approvals
* @openmobilityfoundation/omf-admin

## CDS Working Group
* @openmobilityfoundation/cds-maintainers @openmobilityfoundation/omf-admin
